.dashboard:before {
	content: 'dashboard';
}
.item1:before {
	content: 'date_range';
}
.item2:before {
	content: 'extension';
}


[ln-iconLeft]:before {
	font-family: "Material Icons";
	content: attr(ln-iconLeft);
	display: block;
	width: 30px;
	background-color: var(--headerColor);
}
[ln-iconRight]:after {
	font-family: "Material Icons";
	content: attr(ln-iconRight);
	display: block;
	width: 30px;
	background-color: var(--headerColor);
}