#ln-layout {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#ln-layout > header {
	height: 50px;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	/* position: fixed; */

	background-color: #457abb;
}

#ln-layout #main {
	display: flex;
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom: 30px;
}
#ln-layout #main > nav {
	position: relative;
	width: 200px;
	overflow: auto;

	display: flex;
	flex-direction: column;

	background-color: blue;
}

#ln-layout #main > main {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex: 1;
	overflow: auto;
}

#ln-layout footer {
	height: 30px;
	width: 100%;
	position: fixed;
	bottom: 0;
	box-sizing: border-box;

	padding: 8px;

	background-color: red;
}