.breadcrumb {
	margin: 10px;
	padding: 10px;
}

.breadcrumb > li {
	display: inline-block;
}

.breadcrumb > li + li::before {
	content: "\00BB";
	padding: 0 5px;
	color: #888;
	box-sizing: border-box;
}