.ln a {
	position: relative;
	padding-bottom: 2px;
	text-decoration: none;

	color: #446CA9;
}

.ln a::after {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 0;
	height: 1px;
	width: 100%;
	transform: scaleX(0);

	-webkit-transition: transform .3s;
	transition: transform .3s;

	background: -moz-linear-gradient(left, rgba(68,108,169,0.2) 0%, rgba(68,108,169,1) 50%, rgba(68,108,169,0.2) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(68,108,169,0.2) 0%,rgba(68,108,169,1) 50%,rgba(68,108,169,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(68,108,169,0.2) 0%,rgba(68,108,169,1) 50%,rgba(68,108,169,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33446ca9', endColorstr='#33446ca9',GradientType=1 ); /* IE6-9 */


}

.ln a:hover::after {
	transform: scaleX(1);
}