button, .button
, [ln-input]
, [ln-switch] {
	line-height: 30px;
	font-size: 14px;
}

.large {
	line-height: 40px;
	font-size: 16px;
	padding: 0 16px;
}



.small {
	line-height: 25px;
	font-size: 14px;
}

.mini {
	line-height: 20px;
	font-size: 14px;
}