<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      div[ln-link] {
        border: 1px solid green;
      }
    </style>
  </head>
  <body>
    <div ln-link>
      <p>This is a text within the same div</p>
      <header>
        <a href="https://viks.tech">Go to viks.tech</a>
      </header>
    </div>
    <script src="../ln-link.js" defer></script>
  </body>
</html>
